:host {
  form {
    display: flex;
    flex-direction: column;
  }
  .back {
    position: fixed;
    background-color: #282c3499;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
  }

  .model {
    width: 300px;
    height: 350px;
    border: 2px solid rgb(245, 44, 44);
    border-radius: 10px;
    background-color: #fff;
    margin: auto;
    margin-top: 100px;
    text-align: center;
  }
}
// p{
//     font-size: 20px;
// }
// form{
//     display: flex;
//     flex-direction: column;
//      input,
//      button{
//          width:16rem;
//          text-align: center;
//      }
//      .formLabel {
//         margin-bottom: 5px;
//         &.required {
//             position: relative;
//             &:after {
//                 content: '*';
//                   position: absolute;
//                   top: 0;
//                  left: -8px;
//                 color: #c00000;
//             }
//         }
//     }b

//     .ng-invalid {
//         border-color: #c00000;
//         background-color: rgb(255, 141, 141);
//       }
//       .ng-valid {
//         border-color: #037538;
//         background-color: rgb(112, 206, 112);
//       }
//       .hh{
//         color: indianred;
//       }
//  }
